* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-color: #000000;
} */

a {
    text-decoration: none;
}

h3 {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #dddddd;
}

nav {
    background-color: #000000;
    margin: auto;
    padding: 10px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    /* z-index: 999; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topline {
    position: relative;
    left: 6rem;
}

.navlink {
    margin-right: 6rem;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 15px;
    padding: 2px;
    color: rgb(180, 180, 190);
}

.hr {
    border-left: 2px solid #dddddd;
    padding-left: 30px;
}

.active {
    color: rgb(97, 149, 245);
}

.hori {
    border: 2px solid grey;
    width: 100%;
    margin-top: 2.2rem;
    z-index: 999;
    position: fixed;
}

.drop-icon {
    position: absolute;
    top: 8px;
    font-size: 25px;
}

.header2 {
    background-color: #3c8599;
    display: flex;
    width: 100%;
    position: absolute;
    top: 2.5rem;
}

.header-img img {
    width: 40%;
    margin: 1.5rem auto;
}

.telephone {
    border: 2px solid #629cac;
    border-radius: 50%;
    color: white;
    padding: 10px;
    margin: 2rem auto auto -3.6rem;
    height: 42px;
    width: 40px;
    transition: 0.3s;
}

.telephone:hover{
    color: #3c8599;
    background-color: white;
    
}

.contact h3{
    position: relative;
    bottom: 3rem;
    font-weight: lighter;
}

.contact a{
    position: relative;
    bottom: 43px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.email-icon{
    border: 2px solid #629cac;
    border-radius: 50%;
    color: white;
    padding: 10px;
    margin: 2rem auto auto -3.6rem;
    height: 42px;
    width: 40px;
}

.email-icon:hover{
    color: #3c8599;
    background-color: white;
    transition: 0.3s;
}

.email h3{
    position: relative;
    bottom: 3rem;
    font-weight: lighter;
}

.email a{
    position: relative;
    bottom: 43px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

/* .appointment a{
    border: 1px solid #090d0e;
    background-color: #37a7c4;
    padding: 1px;
    position: relative;
    top: 2.4rem;
    font-size: 20px;
} */

.appointment a{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: #226172;
    height: 480px;
    line-height: 49px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 24px;
    transition: 0.3s;
    /* border-radius: 10px; */
}

.appointment a:hover{
    color: #3c8599;
    background-color: #1b1b1b;
}

.header-link{
    position: absolute;
    top: 6rem;
    left: 8rem;
    width: 85%;
    background-color: white;
    max-width: 1320px;
}

.header-navlink{
    list-style-type: none;
    /* padding-left: 48px; */
    /* margin: 0;
    padding: 0; */
}

ul{
    margin: 1rem;
    padding: 0;
}

.header-navlink li{
    display: inline;
}

.border{
    margin-left: 2rem;
    padding: 1rem;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}

.border a{
    color: black;
}

.border a:hover{
    /* font-family: 'Courier New', Courier, monospace; */
    color: #3c8599;
}

.search-bar{
    font-weight: bold;
    font-size: 16px;
    display: flex;
    float: right;
    text-transform: uppercase;
}

.search-bar a{
    color: gray;
    margin-right: 1rem;
    opacity: 0.5;
}

.search-icon{
    margin-top: -1px;
    margin-right: 8px;
    font-size: 23px;
}
